@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

.nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav { 
    display: flex;
    align-items: center;
    background-color: #272231;
    outline: none;
}

.nav .logo {
    color: #f0ffffde;
    flex: 1;
    font-size: 25px;
    margin: 0;
}

.btn-logout {
    width: 5%;
    box-sizing: border-box;
    padding: 10px;
    margin: 0px 15px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}