@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

.search {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.repositories {
    margin: 0;
    background: #201b2c;
}

#main .repositories {
    background-color: #302841ee;
    max-width: 480px;
    margin: 1rem auto;
}

#main .repositories .title {
    background-color: #302841ee;
    color: #f0ffffde;
    margin: 10px;
    font-size:  1.3rem;
    text-align: center;
    padding: 20px 10px;
}

#main .repositories .list {
    list-style: none;
    margin: 0;
    padding: 0;
}

#main .repositories .item {
    background-color: #302841ee;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d5d5d5;
    padding: 2rem;
    color: #f0ffffde;
}

#main .repositories .item:first-child {
    border-top: 1px solid #d5d5d5;
}

#main .repositories .item .name {
    background-color: #302841ee;
    margin-top: 10px;
}

#main .repositories .item:last-child {
    border-bottom: none;
}

#main .repositories .item .info {
    flex: 1;
}

#main .repositories .item .name {
    font-size: 1.5rem;
} 

.repositories .item > button {
    border: none;
    border-radius: 10px;
    padding: 8px;
    background: #514868;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 15px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
}