.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main {
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    justify-content: center;
    align-items: center;
}

#main .nav {
    display: flex;
    align-items: center;
    background-color: #373146;
    border-bottom: 1px solid #d5d5d5;
    padding: .5rem;
}